@model IEnumerable<MilistaSeries.Models.PRODUCTO>

@{
    ViewBag.Title = "Index";
}

<style>
    img{
        height:200px;
        width:150px;
    }
</style>

<h2>Productos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            Año
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sinopsis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clasificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actores)
        </th>
        <th>
            Tipo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anyo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion) min
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sinopsis)
        </td>
        <td>
            <img src="~/Content/Images/producto/@Html.DisplayFor(modelItem => item.Imagen)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clasificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdProducto })
        </td>
    </tr>
}

</table>
