@model MilistaSeries.Models.CRITICA

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>CRITICA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCritica }) |
    @Html.ActionLink("Volver", "Index")
</p>
